@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

main {
    min-height: 100vh;
    background-color: #41d58d42;
}

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.main-header {
    background: #84dba7;
    padding: 0.5rem 1rem;
}

.main-header__title {
    display: inline-block;
    text-decoration: underline;
    width: 80%;
    vertical-align: middle;
}

.main-header__sign {
    background: #496ecd;
    border-radius: 20px;
    width: 5rem;
    color: white;
    font: inherit;
    outline: none;
}

.main-header__sign_in:focus {
    background: #496ecd;
    border-radius: 20px;
    width: 5rem;
    color: white;
    font: inherit;
    outline: none;
}

.main-header .main-header__langBtn-container {
    display: inline-block;
    vertical-align: middle;
}

.button {
    background: #496ecd;
    border-radius: 20px;
    width: 8rem;
    color: white;
    font: inherit;
}

.button:focus {
    outline: none;
}

main aside {
    display: block;
    margin-top: 1rem;
    position: absolute;
    width: 20rem;
    padding: 2rem 0.5rem;
    border-radius: 0 3rem 3rem 0;
    background: #84dba7;
    text-align: center;
    height: 60vh;
    z-index: 10;
}

.main-nav__title {
    text-decoration: underline;
}

.main-nav__links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav__link {
    margin: 1rem;
}

.main-nav__link button {
    width: 12rem;
}

.main-section {
    padding-top: 0.5rem;
}

.login-section {
    padding-top: 0.5rem;
}

.login-section__login_title {
    text-align: center;
    text-decoration: underline;
}

.login-section__form {
    width: 20rem;
    margin: 0 auto;
}

.login-section__form input,
.login-section__form label {
    display: block;
    margin-top: 1rem;
    width: 100%;
}

.login-section__form label {
    font-size: 20px;
    font-weight: bold;
}

.login-section__form input {
    background: #c4c4c4;
    padding: 0.5rem 1rem;
    border: 6px solid #c4c4c4;
    font: inherit;
}

.login-section__form input[type='submit'] {
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.login-section__form input[type='submit']:hover {
    background-color: #84dba7;
    border: 6px solid #84dba7;
}

.login-section__form input:focus {
    background-color: #84dba7;
    border: 6px solid #84dba7;
}

.main-section__title {
    font-family: nimbus-sans-extended, arial;
    font-size: 8em;
    font-weight: 200;
    line-height: 1em;
    letter-spacing: .04em;
    text-transform: uppercase;
    text-align: center;
    color: #F38D8D;
    background: #41d58d42 url(list.png) no-repeat;
    background-size: 80rem 40rem;
    background-position: 20rem;
}

.main-section__title__tetra {
    font-family: nimbus-sans-extended, arial;
    font-size: 4em;
    font-weight: 200;
    line-height: 1em;
    letter-spacing: .04em;
    text-transform: uppercase;
    text-align: center;
    color: #F38D8D;
    margin-left: 15%;
    margin-right: 15%;
}

.main-section__information {
    font-family: nimbus-sans-extended, arial;
    font-size: 2em;
    font-weight: 200;
    line-height: 1em;
    letter-spacing: .03em;
    text-transform: uppercase;
    text-align: left;
    color: #918383;
    margin-left: 20%;
    margin-right: 15%;
}

.main-section__information__departments {
    font-family: nimbus-sans-extended, arial;
    font-size: 2em;
    font-weight: 200;
    line-height: 0.2em;
    letter-spacing: .03em;
    text-transform: uppercase;
    text-align: left;
    color: #918383;
    margin-left: 20%;
    margin-right: 15%;
}

.mobile-btn {
    display: none;
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.dropdown {
    display: inline-block;
    vertical-align: middle;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn:hover,
.dropdown:hover .btn {
    background-color: #0b7dda;
}

@media (max-width: 61rem) {
    main aside {
        display: none;
        z-index: 1;
    }
    .mobile-btn {
        display: inline-block;
    }
}